h1{
    text-align: center;
    color: black;
    font-family: Arial, sans-serif;
}
/* Full-screen SVG background */
#lockSvg {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.svg-container {
    max-width: 80vh;
    margin: 0 auto;
}

/* Lines connecting dots */
svg line.connection {
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke: black;
}

/* Dots style */
svg circle.dot {
    r: 2;
    fill: black;
    stroke: transparent;
    stroke-width: 13.5;
}

/* Active dot highlight */
svg .active-dots circle {
    r: 6;
    fill: rgb(0, 187, 0);
    opacity: 0.5;
}