h1{
    text-align: center;
    color: black;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    font-size: 50;
    margin-top: 50px;
}
/* Full-screen SVG background */
#lockSvg {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.svg-container {
    max-width: 80vh;
    margin: 0 auto;
}

/* Lines connecting dots */
svg line.connection {
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke: black;
}

/* Dots style */
svg circle.dot {
    r: 2;
    fill: black;
    stroke: transparent;
    stroke-width: 13.5;
}

/* Active dot highlight */
svg .active-dots circle {
    r: 6;
    fill: rgb(0, 187, 0);
    opacity: 0.5;
}

.app-footer {
    margin-top: 1rem;
    padding: 2rem 0;
    text-align: center;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    font-size: 50;
    letter-spacing: 0.08em;
    color: #666;

    border-top: 1px solid rgba(0, 0, 0, 0.08);
}
